{:migrators    {:db-mig "joplin/migrators/dynamodb"}
 :seeds        {:db-seed-dev "seeds.dynamodb/run-dev"
                :db-seed-staging "seeds.dynamodb/run-staging"
                :db-seed-prod "seeds.dynamodb/run-prod"}
 :databases    {:db-dev  {:type :dynamo
                          :endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                          :migration-table "dev-witan.httpapi-migrations"}
                :db-dev-staging  {:type :dynamo
                                  :endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                                  :migration-table "dev-witan.httpapi-migrations"}
                :db-test  {:type :dynamo
                           :endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                           :migration-table "test-witan.httpapi-migrations"}
                :db-jenkins {:type :dynamo
                             :endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                             :migration-table "staging-jenkins-witan.httpapi-migrations"}
                :db-staging {:type :dynamo
                             :endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                             :migration-table "staging-witan.httpapi-migrations"}
                :db-prod {:type :dynamo
                          :endpoint "http://dynamodb.eu-west-1.amazonaws.com"
                          :migration-table "prod-witan.httpapi-migrations"}}
 :environments {:development [{:db :db-dev, :migrator :db-mig, :seed :db-seed-dev}]
                :dev-staging [{:db :db-dev-staging, :migrator :db-mig, :seed :db-seed-dev}]
                :staging-jenkins [{:db :db-jenkins, :migrator :db-mig, :seed :db-seed-staging}]
                :prod [{:db :db-prod, :migrator :db-mig, :seed :db-seed-prod}]
                :staging [{:db :db-staging, :migrator :db-mig, :seed :db-seed-staging}]
                :test [{:db :db-test, :migrator :db-mig, :seed :db-seed-dev}]}}
